
<div class="center hero-unit">
  <h1>Welcome to the Machine</h1>

  <h2>This is the way to face your own <%= link_to 'reality', "http://www.pinkfloyd.com" %></h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
